:root {
  --red-color: #EB0F1E;
  --salmon-color: #FA8072;
  --black-color: #000;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Bungee Outline', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}