.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.main {
  /* padding: 5rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* font-family: sans-serif; */
  text-transform: lowercase;
}

.greeting {
  font-size: 2em;
}

.about::after {
  content: "Hello,";
}

.about:hover:after {
  content: "About";
  color: white;
}

.showcases::after {
  content: "I'm athachai";
  color: var(--black-color);
}

.showcases:hover:after {
  content: "My works";
  color: white;
}

.contact::after {
  content: "Software Developer 💻";
  color: var(--salmon-color);
}

/* .contact:hover:after {
  content: "Contact";
  color: white;
} */

.about:hover:after, .showcases:hover:after {
  cursor: pointer;
  background-color: var(--salmon-color);
}